@import url("https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Lexend:wght@100..900&family=Moon+Dance&family=Playwrite+IT+Moderna:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  font-family: "Poppins", sans-serif;
}

.rec.rec-arrow-right {
  color: #bb86fc !important;
  background-color: #ffffff !important;
  box-shadow: 2px 2px 2px 2px rgb(210, 221, 224);
}
.rec.rec-arrow-right:hover {
  color: #bb86fc !important;
  background-color: #ffffff !important;
  box-shadow: 2px 2px 2px 2px rgb(210, 221, 224);
}
.rec.rec-arrow-left {
  color: #bb86fc !important;
  background-color: #ffffff !important;
  box-shadow: 2px 2px 2px 2px rgb(210, 221, 224);
}
.rec.rec-arrow-left:hover {
  color: #fe0000 !important;
  background-color: #ffffff !important;
  box-shadow: 2px 2px 2px 2px rgb(210, 221, 224);
}
.merchant-landing .custom-prev,
.merchant-landing .custom-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  color: #6c4cdb;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 10;
}

.merchant-landing .custom-prev {
  left: 0px;
}

.merchant-landing .custom-next {
  right: 0px;
}

.merchant-landing .custom-prev:hover,
.merchant-landing .custom-next:hover {
  color: #7d23e0 !important;
  background-color: #ffffff !important;
  box-shadow: 2px 2px 2px 2px rgb(210, 221, 224);
}

/* Custom Pagination Dots */
.merchant-landing .custom-pagination {
  display: flex;
  justify-content: center;
  margin-top: 0px;
}

.merchant-landing .custom-bullet {
  width: 40px;
  height: 7px;
  background-color: #d8d8d8;
  border-radius: 20px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.merchant-landing .custom-bullet-active {
  background-color: #6c4cdb;
}

@keyframes slide {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.animate-slide {
  animation: slide 0.5s ease-in-out forwards;
}
